@import "normalize";
@import "element";

html,
body,
* {
  margin: 0;
  padding: 0;
  outline: none;
}
body,
html {
  color: #010e22;
}

// .font-rigelstar {
//   font-family: Rigelstar;
// }

@font-face {
  font-family: DenmarkRegular;
  src: url("../fonts/Denmark Regular.ttf");
}
