@import "normalize";
@import "element";

html,
body,
* {
  margin: 0;
  padding: 0;
  outline: none;
}
body,
html {
  color: #010e22;
}

body {
  background: #f9efe4;
}
// .font-rigelstar {
//   font-family: Rigelstar;
// }

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

@font-face {
  font-family: DenmarkRegular;
  src: url("../fonts/Denmark Regular.ttf");
}
