@import "normalize";
@import "element";

html,
body,
* {
  margin: 0;
  padding: 0;
  outline: none;
}
body,
html,
#app {
  color: #010e22;
  height: 100%;
}

body {
  background: #000000;
}
// .font-rigelstar {
//   font-family: Rigelstar;
// }

@font-face {
  font-family: DenmarkRegular;
  src: url("../fonts/Denmark Regular.ttf");
}
